{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock%}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon1.png'%}">

    <!--    OJO AL STYLE OF BACKGROUNG PHOTHO -->
    <style>
        body {
            background-image: url("{% static '2465347.jpg' %}") ;
        }
        </style>
    {%block link%}{%endblock%}
</head>
<!-- DESHABILITANDO EL BACK A USUARIOS LOGIADOS -->
<body onload="noBack();" 
onpageshow="if (event.persisted) noBack();" onunload="" >
{% if user.is_authenticated  %}
    <nav>
        <div style="background-color: #6930c3; display: inline-flex;width: 100vw; height: 50px;">
            <br>
            <br>
            <div style="align-items: center; display:flex; text-align: left; ">
                <br>
                <a href="{% url 'lessons' %}"> <button onmouseover="shade(this)" onmouseout="noshade(this)" type="button" class="btn btn-dark" style="margin-left: 30px; background-color: #6930c3; border-color:#6930c3 ;">Lecciones</button></a>
                <a href="{% url 'pruebas' %}"><button onmouseover="shade(this)" onmouseout="noshade(this)" type="button" class="btn btn-dark" style="margin-left: 30px;background-color: #6930c3; border-color:#6930c3 ;">Pruebas</button></a>
                <!-- this me entra el mismo elemento que envia el evento -->
                <a href="{% url 'options' %}"> <button onmouseover="shade(this)" onmouseout="noshade(this)" type="button" class="btn btn-dark" style="margin-left: 30px;background-color: #6930c3; border-color:#6930c3 ;">Options</button></a>
                {% if user.is_superuser %}
                <a href="{%url 'createusers' %}" style="text-align: right; margin-left: 20px;"><button type="button" class="btn btn-dark" >Administrador</button></a>
                {%endif%}
            </div>
            <br>
            <br>
            
            <!-- alinear el boton a derecha -->
            <!-- aking-item me centra en el alto -->
            <!-- margin a la derecha a 0 y el de izq a auto mueve el div a ese lado. -->
            
            <div style="margin-right: 0;margin-left: auto; display: flex; align-items: center; ">
                <a href="{% url 'logoutV' %}"><button style="background-color: #eef0f2; border: none; border-radius: 5px;align-items: center; height: 40px; width: 80px;" onmouseover="shade2(this)" onmouseout="notshade2(this)">Logout</button></a>
            </div>
        </div>
    </nav>
{% endif %}

    {%block body%}

    
    {%endblock%}
    


<script>
    window.history.forward();
	function noBack() { window.history.forward(); }
    function shade(but){
        but.style.backgroundColor = '#ffea00';
        but.style.color = 'black'
    }
    function noshade(but){
        but.style.backgroundColor = '#6930c3';
        but.style.color = 'white'
    }
    function shade2(but){
        but.style.backgroundColor = '#242423';
        but.style.color = 'white'
    }
    function notshade2(but){
        but.style.backgroundColor = '#eef0f2';
        but.style.color = 'black'

    }

</script>
    <!-- OJO COMO DESACTIVE EL BACK HACIA CREDENCIALES ANTES INSTALADAS
    OJO QUE EN <BODY ESTA EL COMPLEMENTO -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
</script>
</body>
</html>