#divForm{
    text-align: center;
    margin: 1rem 5rem 1rem 5rem;
    

}
#allPost{
    margin: 1rem 5rem 1rem 5rem;

}
#but{
    color: white;
    background-color: #343a40;
    width: 5rem;
    height: 3rem;
    border-radius: 5px;

}
.butO{
    border: none;
    background-color: white;


}
.butO:hover{
    background-color: #90e0ef;
}
