
{% extends 'layout.html'%}

{% block body%}
<nav class="navbar navbar-dark bg-dark">
  <!-- Navbar content -->
  <a href="{% url 'guardados' %}" class="btn btn-light">Guardado</a>
  </button>
</nav>
<div id="out" style="text-align: right;" >
        <form action="{% url 'logoutV' %}" method="post">
            {%csrf_token%}
            <button name="salir" type="submit">LogOut</button>
        </form>
</div>

    <h1 style="margin-left: 30px;">BASE DE DATOS</h1>

    <div id="fpregunta">
        <br>
        <div style="margin-left: 20px;">
            <form action="{%url 'create'%}" method="POST">
                {%csrf_token%}
                <label>Pregunta: </label>
                <br>
                <textarea name="pregunta1"rows="2" cols="50" ></textarea>
                <br>
                <label>Respuesta: </label>
                <br>
                <textarea name="respuesta1" rows="2" cols="50" ></textarea>

                <br>
                <label>Libro: </label>
                <select name="libo">
                    {% for libro in libros%}
                        <option value="{{libro}}">{{libro}}</option>
                    {%endfor%}
                </select>
                <input name="cap" type="number" min="1" max="500" placeholder="Capitulo">
                <input name="ver" type="text" placeholder="Versiculo">
                <button type="submit" >Guardar</button>
            </form>
        </div

        <br>
    </div>
    {% if message %}
        <div class="alert alert-primary" role="alert">

            <h1>{{message}}</h1>

        </div>
    {%endif%}
    <br>
    <br>
    <hr>


{% endblock %}