{% extends "network/layout.html" %}
{% load static %}
{% block title %} Post Media{% endblock %}
{% block script %}
    <script>

        
        function liker(code){
            const userlog= document.getElementById('userlog')
            if(userlog.innerHTML == 'AnonymousUser'){

                return alert("Welcome to registrate")
                }

            let but = event.srcElement
            fetch(`liker/${code}`)
            .then(response=>response.json())
            .then(data=>{
            but.innerHTML=`❤️ ${data.response} Likes`
            })
            
        }
        function editer(code){
            console.log(code)
        }

    </script>
{% endblock %}


<link href="{% static 'network/styles.css' %}" rel="stylesheet">

{% block body %}
    <h2 id="userlog">{{request.user}}</h2>
    <h6>Becuase you follow</h6>

    <!-- paginator y posters all -->
    <div id="allPost">


        {% for contact in page_obj %}
        {# Each "contact" is a Contact model object. #}
        <br>
        <a style="color: #adb5bd"  href="{% url 'profile' contact.userx %}" >
            <h3>{{contact.userx}}</h3>
        </a>
        
        {% if contact.userx == request.user %}
            <div id="toEdit" onclick="editer('{{contact.pk}}')">Edit
                <h6 id="ggg" style="padding-left: 20px;">{{contact.poster}}</h6>          
            </div>
            
        {% else %}
            <h6 style="padding-left: 20px;">{{contact.poster}}</h6>
        {% endif %}
        


        {% if contact.reaction.userx %}
        <button id="likes" class="butO" onclick="liker('{{contact.pk}}')">❤️{{contact.reaction.count}} Likes</button>
        {% else %}
            <button id="likes" class="butO" onclick="liker('{{contact.pk}}')">❤️{{contact.reaction.count}} Likes</button>
        {% endif %}
        {% if contact.EditBool == False %}
            <small>Created: {{contact.created}}</small>
        {% else %}
            <small>Created: {{contact.created}}</small>
        {% endif %}




        <hr>

        {% endfor %}
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% endif %}
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
    </nav>



{% endblock %}

