{% extends "network/layout.html" %}
{% load static %}
{% block title %} Post Media{% endblock %}
{% block script %}
    <script>
        function follow(code){
            fetch(`follow/${code}`)
            .then(response=>response.json())
            .then(data=>{
                const datax = JSON.parse(JSON.stringify(data))
                console.log(datax)
                const butt= document.querySelector('#follow')
                if(datax["follow"] == true){
                    
                    butt.textContent = 'Unfollow'

                }else{
                    butt.textContent = 'Follow'

                }
            })
        }

        function liker(code){
            const userlog= document.getElementById('userlog')
            if(userlog.innerHTML == 'AnonymousUser'){

                return alert("Welcome to registrate")

                }

            let but = event.srcElement
            fetch(`liker/${code}`)
            .then(response=>response.json())
            .then(data=>{
            but.innerHTML=`❤️ ${data.response} Likes`
            })
            
        }
        function editer(code){
            console.log(code)
            const editChil = event.target
            const element = event.target.parentNode
            element.replaceChildren()

            const textarea = document.createElement('textarea')
            const saver = document.createElement('button')
            saver.textContent = 'Save'

            const header = document.createElement('h6')

            fetch(`editer/${code}`)
            .then(response=>response.json())
            .then(data=>{
                for(let i = 0; i< data.length;i++){
                    const datax = JSON.parse(JSON.stringify(data[i]))
                    textarea.innerHTML = datax.fields.poster
                    }
            })
            element.append(textarea)
            element.append(saver)
            saver.addEventListener('click',function(){
                
                fetch(`editer/${code}`,{
                    method:'POST',
                    body : JSON.stringify({
                        newtext : textarea.value
                    })
                })
                .then(response=>response.json())
                .then(data=>{
                    for(let i=0; i< data.length;i++){
                        const datar = JSON.parse(JSON.stringify(data[i]))
                        header.innerHTML = datar.fields.poster
                        console.log(header)
                        
                    }
                    element.replaceChildren()
                    element.append(editChil)
                    element.append(header)
                })
                

            })
            
        }
    </script>

{% endblock %}
<link href="{% static 'network/styles.css' %}" rel="stylesheet">

{% block body %}
    <h6 id="userlog">{{request.user}}</h6>
    

    <h1 style="text-align: center;">{{code}}</h1>
    <h5>Follow by: {{qfr}}</h5>
    <h5>Following: {{qfs}}</h5>
    {% if user.is_authenticated %}
        
        {% if user.username != code %}
            {% if FBool == True %}
            <button id="follow" onclick="follow('{{code}}')">Unfollow</button>
            {% else %}
            <button id="follow" onclick="follow('{{code}}')">Follow</button>
            {% endif %}
        {% endif %}
    {% endif %}
    <hr>
    <hr>
    <br>
    {% for contact in page_obj %}
        {# Each "contact" is a Contact model object. #}
        <br>
        
        
        <div id="allPost">
            {% if contact.userx == request.user %}
                <div id="toEdit">
                    <button id="botEd"  onclick="editer('{{contact.pk}}')"> Edit</button>
                    <h6 id="ggg" style="padding-left: 20px;">{{contact.poster}}</h6>
                </div>
            {% else %}
                <h6 id="ggg" style="padding-left: 20px;">{{contact.poster}}</h6>
            {% endif %}
            {% if contact.reaction.userx %}
                <button id="likes" class="butO" onclick="liker('{{contact.pk}}')">❤️{{contact.reaction.count}} Likes</button>
            {% else %}
                <button id="likes" class="butO" onclick="liker('{{contact.pk}}')">❤️{{contact.reaction.count}} Likes</button>
            {% endif %}
            {% if contact.EditBool == False %}
                <small>Created: {{contact.created}}</small>
            {% else %}
                <small>Created: {{contact.created}}</small>
            {% endif %}
            <hr>
        </div>
    {% endfor %}
    
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% endif %}
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
    </nav>
    
{% endblock %}

