{% extends "portugues/layout.html" %}
{% load static %}
{% block title %} Básico {% endblock %}
{% block script %}{% endblock %}
{% block link %}
    <link href="{% static 'css/index.css' %}"  rel="stylesheet"> 
{% endblock %}

{% block body %}
    
    <div id="principal">
        <div class="motival">
            {% if user.is_superuser == False %}
                {% if whytext == False %}
                    <h3 >Pense no motivo pelo qual você decidiu estudar esse idioma e anote abaixo, para que você possa se lembrar e se manter motivado até alcançá-lo.</h3>
                    <form class="form" action="{% url 'why' %}" method="post">
                        {% csrf_token %}
                        <textarea name="why" placeholder="Tente fazer isso em português" cols="50"></textarea>
                        <br>
                        <button class="but" type="submit">Salvar</button>
                    </form>
                    <br>
                {% endif %}
            {% endif %}
            <h1 id="name"> Bem-vindo {{request.user}}</h1>
        </div>
        <div class="tips">
            <h3 >Tenho algumas dicas que podem te ajudar</h3>
            {% if user.is_superuser %}
                <div class="form">
                    <form action="{% url 'index' %}" method="post">
                        {% csrf_token %}
                        <textarea name="tip" rows="2" cols="30" style="border: 1px inset #38b000;"></textarea>
                        <br>
                        <button class="but" type="submit">Salvar</button>
                    </form><br>
                </div>

            {% endif %}



            {%if page_obj%}
            {% for contact in page_obj %}
            {# Each "contact" is a Contact model object. #}

                <div class="tip">
                    
                    <p id="fontZ">{{ contact.tipers }}</p>
                    <div id="lety" onclick="liker('{{contact.pk}}')">
                        <p class="tipx" id="counter">💚 {{contact.ReactTip.count}} </p>
                    </div>
                    <p class="tipx" >{{contact.created}}</p>
                    {% if user.is_superuser %}
                        <button id="dicasDel"  onclick="deleting('{{contact.pk}}')">DELETE</button>
                    {% endif %}

                </div>
                <br>
                
            {% endfor %}
            <br>
        
            <div class="pagination">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                        {% endif %} {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            {% endif %}
        </div>

        
    </div>

    <script>
        function deleting(code){
            const elemt = event.
            srcElement
            console.log(code)
            fetch(`deleting/${code}`)
            .then(responser=>responser.json())
            .then(datax=>{
                if(datax.state == 'Deleted'){
                    elemt.parentNode.remove()
                    
                }
            })
        }
        
        function liker(code){
            const source = event.target
            console.log(code)
            fetch(`liker/${code}`)
            .then(response=>response.json())
            .then(data=>{
                console.log(data)
                const counter = document.querySelector('#counter')
                source.innerHTML = `❤️‍🔥 ${data.like}  `



            })
            
        }


    </script>





    

{% endblock %}