{% extends "portugues/layout.html" %}
{% load static %}
{% block title %} Lições {% endblock %}

{% block link %}
    <link href="{% static 'css/lessons.css' %}"  rel="stylesheet"> 
{% endblock %}

{% block body %}
<button id="mywhy">Por que estou aqui</button>
<div id="why" style="visibility: hidden;">
    <p id="whP" ></p>
</div>
    

    <div class="muestra">
        <h2 class="header">Programa</h2>
        <p class="teoric">Cada lição possui um link de ajuda externa, um vídeo e um download em PDF dos exercícios que você deve realizar antes de fazer o teste de unidade. Você deve acessar um teste assim que a lição for concluída e, se aprovado, permitirá que você avance para a próxima. </p>
        
        {% if user.is_superuser %}
            <div class="delete">
                <p id="ler">Como SUPERUSUÁRIO desta aplicação web você tem acesso a todas as salas de aula e a este botão que pode deletar todas as suas aulas</p>
                <form action="{% url 'deletelessons' %}" method="post">
                    {% csrf_token %}
                    <button class="butDel" type="submit">Delete Lessons</button>
                </form>  
            </div>
        {% endif %}
        

    </div>
    <h1 id="userr" hidden>{{request.user}} </h1>
    <div class="margen">
        <form class="changer">
            <h3>Lições</h3>
            <select class="tes" id="sel" onchange="permited()"  >
                <option value="introduction">Escolher</option>
                {% for lesson in info %}
                    <option value="{{lesson.number_lesson}}">Lição {{lesson.number_lesson}}</option>
                {% endfor %}
            </select>
        </form>
    </div>



    <div id="viewLesson">



    </div>
    


    <!-- SCRIPT JAVA -->

    <script>
        document.querySelector('#mywhy').addEventListener('mouseover',function(){
            const p = document.querySelector('#whP')
            
            fetch('mywhy')
            .then(response=>response.json())
            .then(data=>{
                p.innerHTML = data.why
                console.log(data)
            })
            document.querySelector('#why').style.visibility = 'visible'
        })
        document.querySelector('#mywhy').addEventListener('mouseout',function(){
            document.querySelector('#why').style.visibility = 'hidden'
        })
        const divPrincipal = document.querySelector('#viewLesson')
        const userr = document.querySelector('#userr').innerHTML

        function permited(){
            const code = document.querySelector('#sel').value
            console.log(code)
            divPrincipal.replaceChildren()
            if(code == 0){
                return lessonView(code)
            }
            if(code == 'introduction'){
                document.querySelector('.muestra').style.display='block'
                
            }    
            const header = document.createElement('h3')
            header.setAttribute('class','delete')

            fetch(`aproval/${code}/${userr}`)
            .then(response=>response.json())
            .then(data=>{

                let infor = data.data
                if(infor === false){
                    document.querySelector('.muestra').style.display='none'
                    header.innerHTML = 'Fechado'
                    divPrincipal.appendChild(header)

                }else if(infor == true){


                    lessonView(code)

                }else if(data.data === 'exists'){
                
                    lessonView(code)
                }
                
                })
            
        }



        function lessonView(code){
            divPrincipal.replaceChildren()
            document.querySelector('.muestra').style.display='none'
            const header = document.createElement('h2')
            header.setAttribute("class","header")
            

            const teoric = document.createElement('p')
            teoric.style.cssText='font-family: Nanum Gothic, sans-serif;text-align: justify; margin: 60px 10rem 2rem 2rem'

            const divLink = document.createElement('div')
            divLink.setAttribute('class','este')

            const urlx = document.createElement('a')
            urlx.style.cssText='font-size: 20px ;text-decoration: none; color:#38b000;'
            urlx.target = '_blank'
            urlx.innerText= 'Link de ajuda '

            const videox = document.createElement('iframe')
            videox.width = 960
            videox.height= 550


            const divEjercices = document.createElement('div')
            divEjercices.setAttribute('class','este')
            const d = document.createElement('a')
            d.style.cssText='font-size: 20px ;text-decoration: none; color:#38b000 '
            d.target = '_blank'
            d.innerText = 'Ejercices'
            d.href = `pdfproof/${code}`
            divEjercices.append(d)


            fetch(`seelesson/${code}`)
            .then(response=>response.json())
            .then(data=>{

                let datax;
                for(let i = 0; i < data.length;i++){
                    datax = JSON.parse(JSON.stringify(data[i]))
                }

                header.innerHTML = datax.fields.title
                teoric.innerHTML = datax.fields.theoric
                urlx.href = datax.fields.urlx
                videox.src = datax.fields.videox
                
                
                


            })
            
            divLink.appendChild(urlx)

            const divLines = document.createElement('div')
            divLines.setAttribute("id","lin")
            divLines.appendChild(divEjercices)
            divLines.appendChild(divLink)

            
            divPrincipal.appendChild(header)
            divPrincipal.appendChild(divLines)
            divPrincipal.appendChild(teoric)
            divPrincipal.appendChild(videox)
            
            
            
            divEjercices.addEventListener('click',function(){


            })
            
        }
    
    </script>
{% endblock %}
