{% extends "portugues/layout.html" %}
{% load static %}
{% block title %} {{request.user}} {% endblock %}
{% block script %}{% endblock %}
{% block link %}
<link href="{% static 'css/profile.css' %}" rel="stylesheet" >
{% endblock %}

{% block body %}
<button id="mywhy">Por que estou aqui</button>
    
    <div class="template" >
        <div id="why" style="visibility: hidden;">
            <p id="whP" ></p>
        </div>
        {% if profile %}
            <h3 id="country"><small><i>From</i></small> {{profile.country}}</h3>
        {% endif %}
        <h1 class="name">{{request.user}} </h1>
        
            
        

        <div style="display: inline-flex;">
            <h3 class="name" >{{codex}}</h3>
            {% if profile == False %}
                <img id="pic" src="{% static 'images/avatar.png' %}"  width="400px">
                
            {% else %}
                <img id="pic" src="{{profile.photo.url}}"  width="400px">
            {% endif %}
            <spam id="spacer">

            </spam>
            {% if user.is_superuser %}

            {% else %}
        
            <div id="prueba">
                <p class="sized">Fez perguntas:&nbsp&nbsp&nbsp {{aprove.number_questions}} </p>
                <p class="sized">Correto:&nbsp&nbsp&nbsp{{aprove.right_answer}}</p>
                <p class="sized">Avanço:&nbsp&nbsp&nbsp{{avance}}%</p>
                <br>
                <br>
                <p id="frase"><i>"Seu estudo hoje é o investimento de amanhã"</i></p>

                
            </div>
            {% endif %}
        </div>
        {% if profile == False %}
            <form action="{% url 'profilephoto' request.user %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label>País:</label>
                <input name="pais" autofocus autocomplete="off"></input>
                <br>
                <br>
                <input name="filet" type="file">
                <button class="picBut" type="submited" >Submited</button>
            </form>
        {% endif %}
    </div>

    
    

    






    

    
    <!-- Div centrado dentro de otro in parent:
        text-align:center;
    in the child:
    margin: 0px auto; -->
    <script>
        document.querySelector('#mywhy').addEventListener('mouseover',function(){
            const p = document.querySelector('#whP')
            
            fetch('mywhy')
            .then(response=>response.json())
            .then(data=>{
                p.innerHTML = data.why
                console.log(data)
            })
            document.querySelector('#why').style.visibility = 'visible'
        })
        document.querySelector('#mywhy').addEventListener('mouseout',function(){
            document.querySelector('#why').style.visibility = 'hidden'
        })



        const pic = document.querySelector('#pic')
        pic.style.borderRadius = '15px'
        pic.style.border = '15px inset #1e96fc'
        pic.style.height = '25rem'






    </script>


{% endblock %}