{% extends "portugues/layout.html" %}
{% load static %}
{% block title %} Test-te {% endblock %}
{% block script %}{% endblock %}
{% block link %}
    <link href="{% static 'css/teste.css' %}"  rel="stylesheet"> 
    <link href="{% static 'css/game.css' %}"  rel="stylesheet">
{% endblock %}

{% block body %}
    <!-- Button start -->
    <p id="code" hidden>{{code}}</p>
    <p id="userito" hidden>{{request.user}}</p>



    <div class="container">
        <a onclick="Question()"  href="#" class="button">
        <div class="plate"></div>
        <div class="plate"></div>
        <div class="plate"></div>
        <div class="plate"></div>
        <div class="plate"></div>
        <div class="button__wrapper">
            <span id="start" class="button__text">COMEÇAR</span>
        </div>
        <div class="button__box">
            <div class="inner inner__top"></div>
            <div class="inner inner__front"></div>
            <div class="inner inner__bottom"></div>
            <div class="inner inner__back"></div>
            <div class="inner inner__left"></div>
            <div class="inner inner__right"></div>
        </div>
        </a>
    </div>
    <!-- Button start -->


    <div id="teste">
        
    </div>

    <div id="scores">

    </div>

    


    <script>
        
        
        const x = document.querySelector('#teste').style.visibility= 'hidden';
        const code = document.querySelector('#code').innerHTML

        function Question(){
            document.querySelector('.container').style.display= 'none'
            document.querySelector('#teste').style.visibility= 'visible';
            const userito = document.querySelector('#userito').innerHTML
            fetch(`goexam/${code}`)
            .then(responser=>responser.json())
            .then(respons=>{
                console.log(respons)
                if(respons.DataFound === true){
                    printQuestionary(code)

                }
                else{
                    const sorry = document.createElement('div')
                    sorry.style.cssText ='font-family: "Young Serif", serif;font-size: 80px;color: #ff002b;text-shadow: 2px 2px black;'
                    sorry.innerHTML = 'Fechado'
                    document.querySelector('#teste').append(sorry)

                }
                
            })

            
            
        }

        let score = 0;
        let number_questions = 0;

        function printQuestionary(code){
            
            number_questions = number_questions + 1

            if(number_questions == 9){
                return scores()
            }
            const divPrincipal = document.querySelector('#teste')
            divPrincipal.replaceChildren()

            const divConter = document.createElement('div')
            divConter.setAttribute("class","divjsr")
            const divConterOne = document.createElement('div')
            divConterOne.setAttribute("class","divjs")
            const divConterTwo = document.createElement('div')
            divConterTwo.setAttribute("class","divjs")
            const divConterThree = document.createElement('div')
            divConterThree.setAttribute("class","divjs")

            const spamer = document.createElement('spam')
            spamer.setAttribute("class","spamer")
            const spamerO = document.createElement('spam')
            spamerO.setAttribute("class","spamer")
            const spamerT = document.createElement('spam')
            spamerT.setAttribute("class","spamer")
            const spamerTT = document.createElement('spam')
            spamerTT.setAttribute("class","spamer")
            const spamerDD = document.createElement('spam')
            spamerDD.setAttribute("class","spamer")
            

            const question = document.createElement('h2')
            question.setAttribute('class','texter')
            const answerOne = document.createElement('h4')
            const answerTwo = document.createElement('h4')
            const answerThree = document.createElement('h4')

            let pk;

            
            fetch(`getExam/${code}`)
            .then(response=>response.json())
            .then(data=>{
                if(data.DATAX == false){
                    const fech = document.createElement('div')
                    fech.innerHTML = 'NÃO HÁ EXAMES DISPONÍVEIS'
                    divPrincipal.replaceChildren()
                    return divPrincipal.append(fech)
                }
                pk = data.pk
                question.innerHTML = data.question
                answerOne.innerHTML = data.answers1
                answerTwo.innerHTML = data.answers2
                answerThree.innerHTML = data.answers3
                divPrincipal.style.backgroundColor = data.color
        
            })
            divConter.append(question)
            divConterOne.append(answerOne)
            divConterTwo.append(answerTwo)
            divConterThree.append(answerThree)

            
            divPrincipal.appendChild(divConter)
            divPrincipal.appendChild(spamerO)
            divPrincipal.appendChild(spamerDD)
            divPrincipal.appendChild(divConterOne)
            divPrincipal.appendChild(spamerT)
            divPrincipal.appendChild(divConterTwo)
            divPrincipal.appendChild(spamerTT)
            divPrincipal.appendChild(divConterThree)

            divConterOne.addEventListener('mouseover',()=>{
                divConterOne.style.width = '33%'
                divConterOne.style.backgroundColor = '#dee2e6'
                answerOne.style.fontSize ='28px' 
            })
            divConterOne.addEventListener('mouseout',()=>{
                divConterOne.style.width = '30%'
                divConterOne.style.backgroundColor = 'white'
                answerOne.style.fontSize ='24px' 
            })

            divConterTwo.addEventListener('mouseover',()=>{
                divConterTwo.style.width = '33%'
                divConterTwo.style.backgroundColor = '#dee2e6'
                answerTwo.style.fontSize ='28px' 
            
            })
            divConterTwo.addEventListener('mouseout',()=>{
                divConterTwo.style.width = '30%'
                divConterTwo.style.backgroundColor = 'white'
                answerTwo.style.fontSize ='24px' 
            })
            divConterThree.addEventListener('mouseover',()=>{
                divConterThree.style.width = '33%'
                divConterThree.style.backgroundColor = '#dee2e6'
                answerThree.style.fontSize ='28px' 
            
            })
            divConterThree.addEventListener('mouseout',()=>{
                divConterThree.style.width = '30%'
                divConterThree.style.backgroundColor = 'white'
                answerThree.style.fontSize ='24px' 
            })

            divConterOne.addEventListener('click',function(){
                const respon = checkAnswer(answerOne.innerHTML, pk)
                respon.then((datax)=>{

                    if(datax.ansDel == true){
                        divConterOne.style.backgroundColor = '#ccff33'
                        divConterOne.style.boxShadow = '7px 7px 7px white';
                        score = score + 10
                        printQuestionary(code)

                    
                    }else{
                        divConterOne.style.backgroundColor = '#ff002b'
                        divConterOne.style.boxShadow = '7px 7px 7px white';
                        printQuestionary(code)
                    
                    }
                    
                })

            })
            divConterTwo.addEventListener('click',function(){
                const responT= checkAnswer(answerTwo.innerHTML, pk)
                responT.then((dataxT)=>{
                    if(dataxT.ansDel == true){
                        divConterTwo.style.backgroundColor = '#ccff33'
                        divConterTwo.style.boxShadow = '7px 7px 7px white';
                        score = score + 10
                        printQuestionary(code)
                    
                    }else{
                        divConterTwo.style.backgroundColor = '#ff002b'
                        divConterTwo.style.boxShadow = '7px 7px 7px white';
                        printQuestionary(code)

                    }
                })
                

            })
            divConterThree.addEventListener('click',function(){
                const respon = checkAnswer(answerThree.innerHTML, pk)
                respon.then((dataxTT)=>{
                    if(dataxTT.ansDel == true){
                        divConterThree.style.backgroundColor = '#ccff33'
                        divConterThree.style.boxShadow = '7px 7px 7px white';
                        score = score + 10
                        printQuestionary(code)
                

                    }else{
                        divConterThree.style.backgroundColor = '#ff002b'
                        divConterThree.style.boxShadow = '7px 7px 7px white';
                        printQuestionary(code)
                    
                        
                    }
                })
                

            })
            


        }








        async function checkAnswer(answer,pk){
            const verify = await fetch(`check_answer/${answer}/${pk}`)
            const response = await verify.json()
            return response
        
        }

        function scores(){
            const divPrincipal = document.querySelector('#teste')
            divPrincipal.replaceChildren()
            divPrincipal.style.backgroundColor = '#38b000'
            

            rightQuestions = score /10

            if(rightQuestions == 8){
                const congrat = document.createElement('h1')
                congrat.setAttribute("class","congrat")
                congrat.innerHTML = 'PARABÉNS'
                divPrincipal.appendChild(congrat)
            }


            const element = document.createElement('h3')
            element.setAttribute("class","contr")
            element.innerHTML = 'Você respondeu corretamente '
            divPrincipal.appendChild(element)
            const num = document.createElement('h1')
            num.setAttribute("class","num")
            num.innerHTML=`${rightQuestions}`
            divPrincipal.appendChild(num)

            if(rightQuestions > 4){
                setTimeout(function(){
                    approved(rightQuestions)
                },2000)

            }

            if(rightQuestions <=4){
                setTimeout(function(){
                    reating(rightQuestions)
                },2000)
            }
            



            
        }
        function approved(quantity){
            const divPrincipal = document.querySelector('#teste')
            divPrincipal.replaceChildren()
            const imge = document.createElement('img')
            imge.style.width = '70%'
            imge.style.marginLeft = '130px'
            imge.setAttribute("src","{% static 'images/approved.png' %}")
            divPrincipal.appendChild(imge)

            fetch(`positive/${quantity}/${code}`)
            .then(response=>response.json())
            .then(daty=>{
                console.log(daty)
            })


        }

        function reating(quantity){

            const divPrincipal = document.querySelector('#teste')
            divPrincipal.replaceChildren()
            
            const imge = document.createElement('img')
            imge.style.width = '60%'
            imge.style.marginLeft = '200px'
            imge.setAttribute("src","{% static 'images/attention.png' %}")
            divPrincipal.appendChild(imge)
            fetch(`negative/${quantity}`)
            .then(response=>response.json())
            .then(daty=>{
                console.log(daty)
            })
    


        }

    </script>

{% endblock %}