#fpregunta{
    display: grid;
    margin: 0 auto;
    background-color: rgb(217, 0, 255);
    border: solid 3px black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#out{
    text-align: right;
}
#bar{
    background-color: black;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

a{
    margin-left: 30px;
    text-decoration: none;
    color: white;
}