.lines{
    display: grid;
    /*mostrara en grid maya*/
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
    text-align: center;
    justify-content: center;
}
.lembrete{
    margin: 50px 100px 30px 100px;
}


.continer{
    display: grid;
    text-align: center;
    align-content: center;
    margin: 50px 50px 50px 50px;
    font-family: 'Nanum Gothic', sans-serif;
    color: #38b000;
    text-shadow: 1px solid black;
    border-left: 0.5px solid #1e96fc;
    border-top: 0.5px solid #1e96fc;



    background-color:#ffff3f ;
    box-shadow: 3px 3px 8px #1e96fc;
    


    border-radius: 20px;
    width: 250px;
    height: 100px;

    cursor: pointer;
    
}
.continer:hover{
    box-shadow: none;
    color:#1e96fc;
    border: 2px solid #1e96fc;
    
}
#link{
    text-decoration: none;
}