.lines{
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-content: center;
}
.daddy{
    width: 710px;
    font-family: 'Young Serif', serif;
    margin: 20px 5rem 2rem 50px;
    border: 5px solid black;
    text-align: center;
    justify-content: center;

}
#alerts{

    text-align: right;
    background-color: #d00000;
    color: white;
    width: 400px;
    height: 20%;
    padding: 15px 15px 15px 15px;
}


.exclusion{
    color: white;
    background-color: #d00000;
    padding-bottom: 9px;
}
#pass{
    padding: 50px 50px 50px 50px;
}

.indexX{
    display: grid;
    align-items: center;
    font-family: 'Young Serif', serif;
    margin: 0 auto;
    background-color: #1e96fc;
    color: white;
}