#principal{
    display: grid;
    margin-top: 30px;
    text-align: center;
    justify-content: center;
    font-family: 'Young Serif', serif;


}
.tips{
    display: grid;
    margin: 0 auto;
    width: 1000px;
  
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 20px;
    background-color: #e1f6d7;
    color: #38b000;

}

.motival{
    margin: 0 auto;
    display: grid;
    text-align: center;
    align-content: center;
    overflow: hidden;
    font-family: 'Young Serif', serif;


}

.tip{
    margin: 0 auto;
    font-family: 'Young Serif', serif;

    text-align:center;
    box-shadow: 0.2px 0.2px 1px black ,2px 2px 5px #ffff3f;
    border-radius: 5px;
    text-shadow: 1px 1px white;
    width: 800px;
    padding: 20px 20px 0px 20px;

}
#name{
    margin-left: 50px;
    color: #ffff3f ;
    font-size: 40px;
    font-family: 'Young Serif', serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.say{
    font-size: 20px;
    color: #38b000 ;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

.but{
    border:0.5px groove #38b000;
    background-color: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.whyter{
    margin: 1rem 30rem 1rem 30rem;
    text-align: center;
    color: #1e96fc;
    text-shadow: 0.5px 0.5px black


}
#lety{
    display: inline-flex;
    font-size: small;
    text-align: right;
    cursor: pointer;
    padding-left: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.tipx{
    display: inline-flex;
    font-size: small;
}

#fontZ{
    font-size: small;
}

#dicasDel{
    width:70px;
    height: 30px;
    font-size: small;
    border: none;
    background-color: #ffff3f;
    color: #1e96fc;
}